<div class="footer">
    <div class="container ">
        <div class="footsec">
            <h5>Company Info</h5>
            <div>
                <ul class="navbar-nav">
                    <li><a class="nav-link">About Us</a></li>
                    <li><a class="nav-link">Careers</a></li>
                    <li><a class="nav-link">We are hiring</a></li>
                    <li><a class="nav-link">CBlog</a></li>
                </ul>
            </div>
        </div>
        <div class="footsec">
            <h5>Legal</h5>
            <div>
                <ul class="navbar-nav">
                    <li><a class="nav-link">Privacy Policy</a></li>
                    <li><a class="nav-link">Terms of Service</a></li>
                    <li><a class="nav-link">Cookie Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="footsec">
            <h5>Features</h5>
            <div>
                <ul class="navbar-nav">
                    <li><a class="nav-link">Business Marketing</a></li>
                    <li><a class="nav-link">User Analytics</a></li>
                    <li><a class="nav-link">Live Chat</a></li>
                    <li><a class="nav-link">Unlimited Support</a></li>
                </ul>
            </div>
        </div>
        <div class="footsec">
            <h5>Resources</h5>
            <div>
                <ul class="navbar-nav">
                    <li><a class="nav-link">Ios & Android</a></li>
                    <li><a class="nav-link">Watch a demo</a></li>
                    <li><a class="nav-link">Customer</a></li>
                    <li><a class="nav-link">API</a></li>
                </ul>
            </div>
        </div>
        <div class="footsec">
            <h5>Get In Touch</h5>
            <div>
                <ul class="navbar-nav">
                    <li><a class="nav-link"><img src="../../../assets/images/contact.svg"> Contact Us</a></li>
                    <li><a class="nav-link"><img src="../../../assets/images/email.svg"> Mail us</a></li>
                    <li><a class="nav-link"><img src="../../../assets/images/location.svg"> location</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
