<div class="footer">
    <div class="container">
        <div class="footsec">
            <h5>Company Info</h5>
            <div>
                <ul class="navbar-nav">
                    <li>About Us</li>
                    <li>Our Team</li>
                    <li>Careers</li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
        <div class="footsec">
            <h5>Legal</h5>
            <div>
                <ul class="navbar-nav">
                    <li>Privacy Policy</li>
                    <li>Terms of Service</li>
                    <li>Cookie Policy</li>
                </ul>
            </div>
        </div>
        <div class="footsec">
            <h5>Features</h5>
            <div>
                <ul class="navbar-nav">
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                </ul>
            </div>
        </div>
        <div class="footsec">
            <h5>Resources</h5>
            <div>
                <ul class="navbar-nav">
                    <li>Documentation</li>
                    <li>Support</li>
                    <li>FAQs</li>
                </ul>
            </div>
        </div>
        <div class="footsec">
            <h5>Get In Touch</h5>
            <div>
                <ul class="navbar-nav">
                    <li>Contact Us</li>
                    <li>Support</li>
                    <li>Feedback</li>
                </ul>
            </div>
        </div>
    </div>
</div>
