.boldfont {
    font-weight: bold;
}
.navbar-collapse {
    transition: height 0.35s ease;
}
/* Center the nav items */
@media (max-width: 991.98px) {
    .navbar-collapse {
        text-align: center;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar-nav .nav-item {
        margin: 0.5rem 0;
    }
}
/* For smooth collapse */
.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}
.collapse.show {
    display: block;
    height: auto;
    transition: height 0.35s ease;
}

.btn{
    transition: background-color 0.3s ease;

}