<nav class="navbar navbar-expand-lg boldfont" style="background-color: #FDF3F1;">
    <div class="container">
      <a class="navbar-brand m-3" href="#"><h4>{{BrandName}}</h4></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          
        </ul>
        <div class="d-flex ms-auto">
            <ul class="navbar-nav">
            <a class="nav-link " href="#">Login</a>
            <button class="btn " type="submit" style="background-color: #96BA7B; color: white; font-weight: bold;" >Join Us ➔</button>
        </ul>
          </div>
      </div>
    </div>
  </nav>
