<section class="landing-section d-flex align-items-center">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0 d-flex flex-column justify-content-center ">
                <div class="landing-content">
                    <h6>Welcome</h6>
                    <h1>Best Learning <br> Opportunities</h1>
                    <p>Our goal is to make online <br>education work for everyone</p>
                    <div class="landing-buttons d-flex">
                        <button class="btn btn-success">Join Us</button>
                        <button class="btn btn-outline-success">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="landing-image">
                    <img src="../../../assets/images/hero-cover-1.png" alt="Learning Opportunities">
                </div>
            </div>
        </div>
    </div>
</section>