<section class="packages-section">
    <div class="container-fluid">
        <div class="section2">
            <div class=" mb-4 cardprev">
                <div>
                    <div class="bar"></div>
                    <h2>Approachable Packages</h2>
                    <p>Problems trying to resolve the conflict between <br> the two major realms of <br> Classical
                        physics: Newtonian mechanics.</p>
                    <a href="#" class="learn-more">Learn More</a>
                </div>
            </div>
            <div class=" mb-4 cardparent">

                <div class="card">
                    <div class="square">
                        <img src="../../../assets/images/012-blackboards.svg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Certified Teacher</h5>
                        <div class="barforcards"></div>
                        <p class="card-text">The gradual accumulation of information about.</p>
                    </div>
                </div>


                <div class="card">
                    <div class="square">
                        <img src="../../../assets/images/013-telescope-1.svg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Expert Instruction</h5>
                        <div class="barforcards"></div>
                        <p class="card-text">The gradual accumulation of information about.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>